.container {
  background-color: #00ffff;
}


.fa {
  padding: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #0077b5;
  color: white;
  text-align: center;
}
.fa-free-code-camp {
  background: #006400;
  color: white;
  text-align: center;
}
.button {
  text-align: center;
}

p {
  font-style: italic;
  font-size: 12pt;
  font-weight: bold;
}

footer {
  color: #oooo;
  background-color: #aaa;
  text-align: center;
}
